
.resume {
	max-width: 1200px;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;

	padding: 20px 20px 20px 20px;*/

	border-radius: 15px;
	background-color: #C4CECD;

	text-align: left;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.column_three {
  float: left;
  width: 30%;
  /*padding: 5px;*/
}	

.column_two {
  float: left;
  padding: 10px;
}	

.left_column_two {
  width: 25%;
  margin-left: 40px;
}

.right_column_two {
  width: 65%;
}


.pro_category {
  color: purple;
  font-variant: small-caps;
}

.base_text {
  margin-left: 40px;
  color: green;
  padding: 0px;
}

.base_bullets {
  margin-left: 80px;
  color: red;
  padding: 0px;
}

.h1 {
  color: black;
  font-size:22px
  font-family: "Times New Roman", Times, serif;
  font-variant: small-caps;	
}

.h2 {
  font-size:14px;
  font-family: "Times New Roman", Times, serif; 
}

.p {
  font-size:12px;
  font-family: "Times New Roman", Times, serif;
}

p.company_title {
  font-weight: bold;
}

p.job_title {
  font-weight: bold;
  text-decoration: underline;
}

p.achievements  {
  font-weight: bold;
}

p.company_desc {
  font-style: italic;
}

.green {
  color: green;
}

.center {
  text-align: center; 
}



/* https://www.w3schools.com/css/default.asp */
