
.resume {
	max-width: 1200px;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;

	padding: 10px 150px 10px 150px;

	border-radius: 15px;
	background-color: #C4CECD;

	text-align: left;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.3columns {
  float: left;
  width: 33.33%;
  padding: 10px;
}	


.2columns {
  float: left;
  width: 50%;
  padding: 10px;
}	

h1 {
  text-align: center; 
  color: black;
  font-size:26px
  font-variant: small-caps;
}


h2 {
  text-align: left; 
  color: black;
  font-size:12px; 
}



.pro_category {
  margin-left: 20px;
  color: navy;
  font-variant: small-caps;
}

.pro_bullets {
  margin-left: 40px;
  color: red;
}


.green {
  color: green;
}


.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

/* https://www.w3schools.com/css/default.asp */
