
.resume {
	max-width: 1200px;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;

	padding: 10px 50px 10px 50px;

	border-radius: 15px;
	background-color: #C4CECD;

	text-align: left;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.column3 {
  float: left;
  width: 30%;
  padding: 5px;
}	


.column2 {
  float: left;
  width: 40%;
  padding: 5px;
}	


.pro_category {
  color: purple;
  font-variant: small-caps;
}

.base_text {
  margin-left: 20px;
  color: green;
}

.base_bullets {
  margin-left: 40px;
  color: red;
}

h1 {
  color: black;
  font-size:26px
  font-variant: small-caps;	
}

h1.center {
  text-align: center; 
}


h2 {
  font-size:14px; 
}

p.company_title {
  font-weight: bold;
}

p.job_title {
  font-weight: bold;
  text-decoration: underline;
}


.green {
  color: green;
}




/* https://www.w3schools.com/css/default.asp */
